<div class="container">
  <h1>Discover all the fighters</h1>
  <%= link_to "+ Add a new fighter", new_fighter_path, class:"btn-flat" %>
  <br>
  <br>
  <% @fighters.each do |fighter| %>
    <div class="card-list-fighter">
      <%= cl_image_tag fighter.photo.key %>
      <div class="card-list-fighter-infos">
        <h2><%= fighter.name %></h2>
        <p><strong>HP:</strong> <%= fighter.hp %></p>
        <p><strong>Attack:</strong> <%= fighter.attack %></p>
        <div class="card-list-fighter-btn">
          <%= link_to 'Show', fighter, class: 'btn-black' %>
          <%= link_to 'Edit', edit_fighter_path(fighter), class: 'btn-black' %>
          <%= link_to 'Delete', fighter, method: :delete, data: { confirm: 'Are you sure you want to delete this fighter?'}, class: 'btn-red' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
