<div class="container">
  <h1>Create a new fighter</h1>

  <%= simple_form_for(@fighter) do |f| %>
    <%= f.input :name %><br>
    <%= f.input :hp, as: :integer %><br>
    <%= f.input :attack, as: :integer %><br>
    <%= f.input :photo, as: :file %><br>
    <%= f.submit class: "btn-flat"%>
  <% end %><br>

  <%= link_to "Back", fighters_path, class:"btn-ghost" %>
</div>
