<div class="container">
  <br>
  <%= link_to 'Back', fighters_path, class: 'btn-ghost' %>
  <div class="card-fighter-title">
    <h1>Fighter n°<%= @fighter.id %></h1>
    <%= link_to 'Edit', edit_fighter_path(@fighter), class: 'btn-flat' %>
  </div>
  <div class="card-fighter-profile">
    <%= cl_image_tag @fighter.photo.key %>
    <div class="card-fighter-profile-infos">
      <div class="card-fighter-profile-name">
        <h2>Name</h2>
        <p><%= @fighter.name %></p>
      </div>
    <div class="card-fighter-profile-hp">
      <h2>Health Points</h2>
      <p><%= @fighter.hp %></p>
    </div>
    <div class="card-fighter-profile-attack">
      <h2>Attack Points</h2>
      <p><%= @fighter.attack %></p>
    </div>
    </div>
  </div>
</div>

<%# .container
  %h1 Discover fighter n°#{@fighter.id}:
  %h2 Name
  %p=@fighter.name

  %h2 Health Points
  %p=@fighter.hp

  %h2 Attack Points
  %p=@fighter.attack

  %br
  =link_to 'Edit', edit_fighter_path(@fighter), class: 'btn-flat'
  =link_to 'Back', fighters_path, class: 'btn-ghost' %>
